
/* V A R I A B L E S  .  L E S S  */ 


//Mobile Max Width

@mobile: ~"(max-width: 500px)";

// Color assignments 
@font-color: @white;
@button-bg: @eastern-blue;
@main-bg:  @dark-green;
@navigation-border: @sand;
@footer-bg: @dark-green;

// Colors
@white: #FFFFFF;
@silver: #C0C0C0;
@shark: #212529;
@eastern-blue: #17A2B8;
@sandy-beach: #FFEBCD;
@dark-green: #173a3e;
@sand: #e0bd6b;
@light-green: #a9cd8f;
@white: #ffffff;

/* Shortcuts
  border-top: 5px solid @sand;
  border-bottom: 5px solid @sand;
  border-left: 5px solid @sand;
  border-right: 5px solid @sand;
*/

/* V A R I A B L E S  .  L E S S  */

