//Mobile Max Width
@mobile: ~"(max-width: 500px)";

// Color assignments 
@font-color: @black;
@main-bg:  @pink;
@navigation-border: @black;
@footer-bg: @pink;

// Colors
@black: #000000;
@sky: #bfe6ec;
@pink: #d6bee0;
/* -- */ 

